body {
  margin: 0 auto;
  text-align: center;
  background-image: url("images/bg-2.jpg");
  background-position: top;
  background-size: 170%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.App {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 120px;
}

.dictionary {
  margin-bottom: 60px;
}
.heading {
  font-size: 40px;
  color: rgb(44, 51, 53);
}

section {
  background-color: rgba(255, 255, 255, 0.884);
  text-align: left;
  padding: 30px;
  border-radius: 9px;
  margin-top: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 2;
  box-shadow: 1px 1px 9px 0.3px rgba(51, 50, 50, 0.377);
  color: rgb(44, 51, 53);
}
.wordheading {
  margin-top: 0;
}
.partOfSpeech {
  text-transform: capitalize;
  font-size: 24px;
  color: rgb(44, 51, 53);
}

.form {
  margin: 40px 0 40px 0;
  background-color: rgba(255, 255, 255, 0.884);
  width: 100%;
  text-align: center;
  color: rgb(133, 138, 139);
  font-size: 17px;
  border: none;
  border-radius: 7px;
  line-height: 2.5;
  box-shadow: 1px 1px 9px 0.3px rgba(51, 50, 50, 0.377);
  outline: none;
}

.phonetics {
  font-size: 25px;
  font-weight: 100;
  font-style: italic;
}

.speaker {
  max-width: 30px;
  border-radius: 50px;
  padding: 9px;
  position: relative;
  top: 14px;
  left: 25px;
  transition: all 0.3s ease-in-out;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 7px 0.9px rgba(128, 128, 128, 0.521);
}

.speaker:hover {
  background-color: rgba(133, 132, 126, 0.575);
}
.eachDefinition {
  margin-top: 15px;
  margin-bottom: 15px;
  overflow-wrap: break-word;
}

.example {
  color: #696464;
}
.synonyms {
  color: #696464;
}
.synonymnwrap {
  padding: 5px;
}

.footer {
  background-color: rgba(255, 255, 255, 0.884);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
}
.footerText {
  margin-top: 10px;
  color: rgb(100, 101, 102);
}
.linkbuttons {
  max-width: 25px;
  margin: 10px 10px;
  padding: 5px;
  border: 1px solid rgba(14, 13, 13, 0.493);
  border-radius: 7px;
  transition: all 0.2s ease-out;
}
.linkbuttons:hover {
  transform: scale(1.1, 1.1);
}

.gitlink {
  text-decoration: none;
  color: #292927;
  transition: all 0.2s ease-out;
}
.gitlink:hover {
  color: #f8829b;
}
.photoSection {
  text-align: center;
}
.photos {
  border-radius: 6px;
  margin: 10px;
  transition: all 0.3s ease;
}
.photos:hover {
  transform: scale(1.07, 1.07);
  box-shadow: 1px 1px 7px 0.9px rgba(207, 202, 202, 0.521);
}

@media (max-width: 1024px) {
  .photos {
    max-width: 30%;
  }
  .photoSection {
    text-align: center;
    margin-top: 20px;
  }
  body {
    background-size: 250%;
  }
}

@media (max-width: 768px) {
  .photos {
    max-width: 29%;
  }
  .photoSection {
    padding: 5px;
    padding-top: 12px;
  }
  body {
    background-size: 300%;
  }
}
@media (max-width: 600px) {
  .heading {
    font-size: 30px;
  }
  section {
    padding: 20px 30px;
    font-size: 15px;
    margin-top: 5px;
  }
  .partOfSpeech {
    font-size: 20px;
  }

  .phonetics {
    font-size: 20px;
  }
  .wordheading {
    font-size: 22px;
  }
  .speaker {
    max-width: 25px;

    padding: 6px;
    position: relative;
    top: 10px;
    left: 20px;
  }
  .photos {
    max-width: 27%;
    margin-top: 17px;
  }
  .photoSection {
    padding: 0;
  }
}
@media (max-width: 480px) {
  .photos {
    max-width: 30%;
    margin: 6px 4px 1px 4px;
  }
  .photoSection {
    padding: 5px;
  }
}
@media (max-width: 411px) {
  .form {
    font-size: 15px;
  }
  .speaker {
    left: 0px;
  }
  .App {
    margin-bottom: 90px;
  }
  .heading {
    font-size: 25px;
  }
  .wordheading {
    font-size: 18px;
  }
  .phonetics {
    font-size: 18px;
  }
  .footer {
    height: 60px;
  }
  .footerText {
    font-size: 12px;
  }
  .linkbuttons {
    max-width: 19px;
    margin: 5px 5px;
    padding: 2px;
  }
  .photos {
    max-width: 30%;
    margin: 6px 4px 1px 4px;
  }
}
@media (max-width: 280px) {
  .photos {
    max-width: 90%;
  }
  .form {
    font-size: 12px;
  }
  .heading {
    font-size: 20px;
  }

  .wordheading {
    font-size: 14px;
  }
  .phonetics {
    font-size: 14px;
  }
  .partOfSpeech {
    font-size: 16px;
  }
  .speaker {
    max-width: 22px;

    padding: 3px;
    position: relative;
    top: 10px;
    left: 0px;
  }
  .footer {
    height: 60px;
  }
  .footerText {
    font-size: 10px;
  }
  .linkbuttons {
    max-width: 19px;
    margin: 5px 5px;
    padding: 2px;
  }
  body {
    background-size: 350%;
  }
  section {
    font-size: 14px;
  }
}
