body {
  margin: 0 auto;
  text-align: center;
  background-image: url("images/bg-2.jpg");
  background-size: 110%;
}
.App {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 120px;
}

.dictionary {
  margin-bottom: 60px;
}
.heading {
  font-size: 40px;
  color: rgb(44, 51, 53);
}

section {
  background-color: rgba(255, 255, 255, 0.884);
  text-align: left;
  padding: 30px;
  border-radius: 9px;
  margin-top: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 1.3;
  box-shadow: 1px 1px 9px 0.3px rgba(51, 50, 50, 0.377);
  color: rgb(44, 51, 53);
}
.wordheading {
  margin-top: 0;
}
.partOfSpeech {
  text-transform: capitalize;
  font-size: 24px;
  color: rgb(44, 51, 53);
}

.form {
  margin: 40px 0 40px 0;
  background-color: rgba(255, 255, 255, 0.884);
  width: 960px;
  text-align: center;
  color: rgb(133, 138, 139);
  font-size: 17px;
  border: none;
  border-radius: 7px;
  line-height: 2.5;
  box-shadow: 1px 1px 9px 0.3px rgba(51, 50, 50, 0.377);
}

.phonetics {
  font-size: 25px;
  font-weight: 100;
  font-style: italic;
}

.speaker {
  max-width: 30px;
  border-radius: 50px;
  padding: 9px;
  position: relative;
  top: 14px;
  left: 25px;
  transition: all 0.3s ease-in-out;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 7px 0.9px rgba(128, 128, 128, 0.521);
}

.speaker:hover {
  background-color: rgba(42, 194, 199, 0.575);
}
.definition {
  margin-top: 0px;
}
.synonyms {
  display: inline;
}

.footer {
  background-color: rgba(255, 255, 255, 0.884);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  color: white;
}
.footerText {
  margin-top: 10px;
  color: rgb(44, 51, 53);
}
.linkbuttons {
  max-width: 30px;
  margin: 15px 10px;
  padding: 5px;
  border: 1px solid rgba(108, 111, 112, 0.137);
  background-color: rgb(44, 51, 53);
  border-radius: 7px;
}
